#bigbox {
	height:1540px;
	width:976px;
}

header {
	display:inline;
	float:left;
	width:200px;
	background-color:#AEAEAE;
	height:160px;
	padding-top:0px;
	text-align:center;
}

.large_font {
	font-family:sans-serif;
	font-size: 100px;
	font-weight: bold;
	color:#CC0000;
}

.small_font {
	font-family:sans-serif;
	font-size:12px;
	font-weight:bold;
	color:white;
}

#menutop {
	font-family:Arial;
	font-size:13px;
	text-align:center;
	background-color:#CC0000;
	height:30px;
	width:340px;
	color: white;
	margin-top:70px;
	padding-top:12px;
}

.container .jumbotron {
	height:475px;
	width: 100%;
	background-color:#585858;
	/* The following 3 lines are for removing rounded corners, according to what I found on web, but did not seem to work */
	border-radius:0px;
}

#bar {
	background-color:#CC0000;
	height:10px; 
	width:100%; /* begin using % instead of fixed widths - responsive */
	margin-top:5px;
	margin-bottom:5px
}

.row_1of3 {
	height:90px;
	width:295px;
	background-color:#AEAEAE;
	margin-left: 20px; 
}

#blog {
	border: 2px;
	border-color:gray;
	border-style:solid none solid none;
	font-family:sans-serif;
	font-size: 24px;
	font-weight:bold;
	height:34px;
	width:975;
	padding-top:5px;
}

#blog > span {
	float:right;
}

.sidebox {
	background-color:#AEAEAE;
	height:200px;
	width:230px;
	display:block;
	clear:both;
	float:left;
}

#searchbutton {
	background-color:#AEAEAE;
	color:#51514D;
}

#input_subheading {
	font-size:8px;
}